/*---INICIO DE SESION*/
#BotonIngresar{
    color: brown;
    width: 180px;
    height: 40px;
    border: 0px;
}
#BotonIngresar:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    width: 210px;
    height: 43px;
    font-size: 18px;
    background-color: rgb(179, 255, 0);
    border: 0px;
    border-radius: 30px;
}
#BotonIngresar:focus{
    background-color: rgb(255, 145, 0);
}

/*--------FIN INICIO DE SESION----------------------*/
/*----INICIO DOCENTE----------------------*/
#BotonMenu{
    background-color: rgb(200, 200, 200);
    border: 1px;
    border-style: double;
    border-color: rgb(180, 180, 180);
    border-top: rgb(220, 220, 220);
    border-left: rgb(220,220,220);
    border-right: rgb(220,220,220);
    width: 238px;
    height: 50px;
    margin-left: -65px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding:10px 20px 10px;
}
#BotonMenu:hover{
    cursor: pointer; /*Para poner el cursor de manito*/
    background-color: rgb(153,0, 0);
    border: 1px;
    border-style:none;
    width: 260px;
    height: 50px;
    margin-left: -61px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: white;
    padding:10px 10px 10px;
}

/*--------FIN DOCENTE----------------------*/
/*----INICIO ESTUDIANTE----------------------*/

/*--------FIN ESTUDIANTE----------------------*/
/*----INICIO SUPERADMIN----------------------*/

/*--------FIN SUPERADMIN----------------------*/