/*---INICIO DE SESION-------------------*/
#LogoInicioSesion{
    width: 300px; 
}

/*--------FIN INICIO DE SESION----------------------*/
/*----INICIO DOCENTE----------------------*/
#ImagenEncabezado{
    width: 150px;
    margin-top: 7px;
}
/*--------FIN DOCENTE----------------------*/
/*----INICIO ESTUDIANTE----------------------*/

/*--------FIN ESTUDIANTE----------------------*/
/*----INICIO SUPERADMIN----------------------*/

/*--------FIN SUPERADMIN----------------------*/